{{- $baseConfig := include ( printf "%s/.chezmoitemplates/pi/models.base.json" .chezmoi.workingTree ) | fromJson -}}
{{- $environmentConfigFile := ternary "models.work.json" "models.home.json" (eq .environment "work") -}}
{{- $environmentConfig := include ( printf "%s/.chezmoitemplates/pi/%s" .chezmoi.workingTree $environmentConfigFile ) | fromJson -}}
{{- mergeOverwrite $baseConfig $environmentConfig | toPrettyJson -}}
